header {
    background-color: #FFCC99;
    box-shadow: 3px 5px 3px -3px;
}

main {
    background-color: #E6F2FF;
    display: flex;
}

aside {
    background-color: #B3D9FF;
    flex: 1;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-width: 1px;
}

footer {
    background-color: #99CC99;
    box-shadow: 3px 5px 3px -3px;
}

h1 {
    font-weight: bold;
    text-align: center;
}

section {
    margin: 20px;
    flex: 3;
}

